*.swp
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/.rakeTasks
/.idea/ruby-lmcadm.iml
/.idea/modules.xml
/Gemfile.lock
/lmcadm-*.gem
